body {
  background-color: #1e1e1e;
  color: grey;
  font-weight: 400;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 90%;
  overflow-x: scroll;
}

.results-grid > p {
  margin-bottom: 0.5rem;
}
